extend layout
block content
  div(class="container") 
    h1(style="margin-top:250px;") Online Users: 
      span#online-player-count
  
  div.box#master-suit-box
    button.suit
      img(src="/images/SmallC.png")
    button.suit
      img(src="/images/SmallD.png")
    button.suit
      img(src="/images/SmallH.png")
    button.suit
      img(src="/images/SmallS.png")
    button.suit.active
      div.overlay
      img(src="/images/SmallA.png")
    div#master-score-wrapper
      input#master-score(type="number" min="13" max="20" value="13" maxlength="2")
    div#master-run-wrapper
      button.btn.btn-primary 출마
      button.btn.btn-default 포기 
  div#hand0.hand
  div#hand1.hand
  div#hand2.hand
  div#hand3.hand
  div#hand4.hand
  input#chat.box(type="text")
  div#chat0.chat-log.box
    h2 Player
  div#chat1.chat-log.box
    h2 Player
  div#chat2.chat-log.box
    h2 Player
  div#chat3.chat-log.box
    h2 Player
  div#chat4.chat-log.box
    h2 Player

  script(data-main='/js/index.js' src='/js/lib/require.js')
