extend layout
block content
  div(class="container") 
    h1(style="margin-top:250px;") Online Users: 
      span#online-player-count
    ul#messages
    form(id="chat")
      input(id="chat-value" autocomplete="off" autofocus)
      input(type="submit" value="Send")
  div#hand0.hand
  div#hand1.hand
  div#hand2.hand
  div#hand3.hand
  div#hand4.hand
  script(data-main='/js/index.js' src='/js/lib/require.js')
