extend layout
block content
  div(class="container") 
    h1(style="margin-top:250px;") Online Users: 
      span#online-player-count
    ul#messages
    form(id="chat")
      input(id="chat-value" autocomplete="off" autofocus)
      input(type="submit" value="Send")
  div#hand0
  div#hand1
  div#hand2
  div#hand3
  div#hand4
  script(data-main='/js/index.js' src='/js/lib/require.js')
