doctype
html
  head
    title There is something that never ends.
    meta(charset="utf-8")
    meta(http-equiv="X-UA-compatible" content="IE=edge")
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/index.css" rel="stylesheet")
  body
    block content

        
