body{
  min-height:100%;
/*  background: url(/images/background.png) ;
  background-size: 100%;
  color:#eee;*/
}

.card{
  border-radius: 5px;
  width:120px;
  position:absolute;
  z-index:1;
  -webkit-user-drag: none;

  -webkit-transform: translate(0px, 0px);
  
  transition : transform 0.1s linear, box-shadow 0.1s linear;

}

.card img{
  width:120px;
}

.card.mine:hover{
  -webkit-box-shadow : 0 0 18px #000, inset 0 0 18px #999;
     -moz-box-shadow : 0 0 18px #000, inset 0 0 18px #999;
          box-shadow : 0 0 18px #000, inset 0 0 18px #999;  
  cursor:pointer;

  -webkit-transform: translate(0px, -30px);
}

#hand{
  position:fixed;
  bottom:0;
}

#hand2{
  position:fixed;
  left:0;
  top:0;
}

#hand3{
  position:fixed;
  top:-20px;
  left:0;
}

#hand4{
  position:fixed;
  top:-20px;
  left:0;
}

#hand5{
  position:fixed;
  right:0;
  bottom:0;
}

.card.mine{
  bottom:0;
}

.card.rotate-right{
  -webkit-transform: rotate(90deg);
  left:0;
}

.card.rotate-left{
  -webkit-transform: rotate(-90deg);
  right:0;
}


#messages{
  height:300px;
  overflow-y:scroll;
}
