body{
  min-height:100%;
  overflow:hidden;
/*  background: url(/images/background.png) ;
  background-size: 100%;
  color:#eee;*/
}

.hand{
  z-index:1;
}

.card{
  border-radius: 5px;
  width:120px;
  position:absolute;
  -webkit-user-drag: none;

  -webkit-transform: translate(0px, 0px);
  
  transition : transform 0.1s linear, box-shadow 0.1s linear;

}

.card img{
  width:120px;
  -webkit-user-drag: none;
}

.card.mine:hover{
  -webkit-box-shadow : 0 0 18px #000, inset 0 0 18px #999;
     -moz-box-shadow : 0 0 18px #000, inset 0 0 18px #999;
          box-shadow : 0 0 18px #000, inset 0 0 18px #999;  
  cursor:pointer;

  -webkit-transform: translate(0px, -30px);
}

#hand0{
  position:fixed;
  bottom:0;
}

#hand1{
  position:fixed;
  left:0;
  top:0;
}

#hand2{
  position:fixed;
  top:-20px;
  left:0;
}

#hand3{
  position:fixed;
  top:-20px;
  left:0;
}

#hand4{
  position:fixed;
  right:0;
  top:0;
}

.card.mine{
  bottom:0;
}

.card.rotate-right{
  -webkit-transform: rotate(90deg);
  left:0;
}

.card.rotate-left{
  -webkit-transform: rotate(-90deg);
  right:0;
}


#messages{
  height:300px;
  overflow-y:scroll;
}

#master-suit-box{
  display:none;
  width:500px;
  text-align:center;
  z-index:3;
  position:absolute;
  left:50%;
  margin-left:-250px;
  bottom:230px;
  background:white;
}

#master-suit-box .suit{
  border:none;
  background:none;
  padding:0;
  outline:none;
  margin:0px 5px;
  border-radius:5px;
  width:69px;
  height:69px;
  border:none;
}

.suit:hover{
  box-shadow:0px 0px 10px 7px rgba(0, 0, 0, 0.2);
}

.suit .overlay{
  display:inline-block;
  position:absolute;
  width:70px;
  height:70px;
  border-radius:5px;
}

.suit.active .overlay{
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3) inset;
}

.suit.active:hover{
  box-shadow:none;
  cursor:default;
}

.suit img{
  -webkit-user-drag:none;
  margin:5px;
}

#master-suit-box input{
  font-size:90px;;
  text-align:center;
  border:none;
  outline:none;
  width:170px;
}

#master-suit-box input[type=number]::-webkit-inner-spin-button, 
#master-suit-box input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  width:20px;
  padding:0px 15px;
  font-size:30px;
  cursor:pointer;
}

#master-score-wrapper{
  margin-top:20px;
}

#master-run-wrapper{
  margin-top:20px;
}

#master-run-wrapper button{
  width:45%;
  margin:2.5%;
  font-size: 25px;
}

.box{
  padding:20px;
  box-shadow:
    0px 20px 30px 10px rgba(0,0,0, 0.12),
    0px 10px 30px 5px rgba(0,0,0, 0.3)
    ;
  border-radius:4px;
  border:1px solid #aaa;
  border-top:1px solid #ddd;
}

input[type=number]:hover::-webkit-inner-spin-button, 
input[type=number]:hover::-webkit-outer-spin-button {
  opacity: 1;
}

#chat{
  display:none;
  position:fixed;
  width:600px;
  background:rgba(255, 255, 255, 0.9);
  margin-left:-300px;
  left:50%;
  bottom:60px;
  z-index:5;
  font-size:20px;
  outline: 0;
  border:none;
  padding:10px;
}

.chat-log{
  display:none;
  position:fixed;
  width:300px;
  height:120px;
  background:rgba(255, 255, 255, 0.9);
  z-index:4;
  font-size:16px;
  outline: 0;
  border:none;
  padding:10px;
}

#chat0 {
  left:50%;
  bottom:130px;
  margin-left:-150px;
  background:rgba(255, 255, 255, 0.7);
}

#chat1 {
  left:30px;
  top:50%;
  margin-top:0
}

#chat2 {
  left:25%;
  top:30px;
  margin-left:-150px;
}

#chat3 {
  left:75%;
  top:30px;
  margin-left:-150px;
}

#chat4 {
  right:30px;
  top:50%;
  margin-top:0;
}

.chat-log p{
  margin-bottom:3px;
  margin-left:10px;
  overflow:hidden;
}

.chat-log h2{
  font-size:20px;
  margin-top:0px;
  margin-bottom:5px;
}
