body{
  min-height:100%;
/*  background: url(/images/background.png) ;
  background-size: 100%;
  color:#eee;*/
}

.card{
  width:120px;
  border-radius: 5px;
  position:absolute;
  z-index:1;
  left:0;
  bottom:0;
  -webkit-user-drag: none;

  -webkit-transform: translate(0px, 0px);
  
  transition : transform 0.1s linear, box-shadow 0.1s linear;
}

.card:hover{
  -webkit-box-shadow : 0 0 18px #000, inset 0 0 18px #999;
     -moz-box-shadow : 0 0 18px #000, inset 0 0 18px #999;
          box-shadow : 0 0 18px #000, inset 0 0 18px #999;  
  cursor:pointer;

  -webkit-transform: translate(0px, -30px);
}

#hand{
  position:fixed;
  bottom:0;
}
